@model RosGeoDevOps.Role

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление записи</h2>

<h3>Точно удалить эту запись?</h3>
<div>
    <h4>Роль</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dostup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dostup)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
