@model RosGeoDevOps.Reshenie

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление записи</h2>

<h3>Точно удалить эту запись?</h3>
<div>
    <h4>Решение</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sotrudnik.Fam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sotrudnik.Fam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zapro.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zapro.Nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
